<!-- Footer Top Start -->
<div class="footer-top pt-50 pb-60">
                                    
  <div class="row">
      <!-- Single Footer Start -->
      <div class="col-lg-4  col-md-7 col-sm-6">
          <div class="single-footer">
              <h3>Контакты</h3>
              <div class="footer-content">
                  <div class="loc-address">
                      <span><i class="fa fa-map-marker"></i>ул. Савушкина 15, г. Астрахань</span>
                      <span><i class="fa fa-envelope-o"></i>Напишите нам : lacocras@yandex.com</span>
                      <span><i class="fa fa-phone"></i>Позвоните нам : +79887777772</span>
                  </div>
                  <div class="payment-mth"><a href="#"><img class="img" src="static/img/1.png" alt="payment-image"></a></div>
              </div>
          </div>
      </div>
      <!-- Single Footer Start -->
      <!-- Single Footer Start -->
      <div class="col-lg-2  col-md-5 col-sm-6 footer-full">
          <div class="single-footer">
              <h3 class="footer-title">Информация</h3>
              <div class="footer-content">
                  <ul class="footer-list">
                      <li><a href="/">Главная</a></li>
                      <li><a href="#"></a></li>
                      <li><a href="/about2">О компании</a></li>
                      <li><a href="#"></a></li>
                      <li><a href="/about2">Контакты</a></li>
                      <li><a href="#"></a></li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- Single Footer Start -->
      <!-- Single Footer Start -->
      {% if session.login %}

      {% else %}
      <div class="col-lg-2  col-md-4 col-md-4 col-sm-6 footer-full">
          <div class="single-footer">
              <h3 class="footer-title">Учетная запись</h3>
              <div class="footer-content">
                  <ul class="footer-list">
                      <li><a href="/login2">Вход</a></li>
                      <li><a href="#"></a></li>
                      <li><a href="/register2">Регистрация</a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#"></a></li>
                  </ul>
              </div>
          </div>
      </div>
      {% endif %}
      <!-- Single Footer Start -->
      <!-- Single Footer Start -->
      <div class="col-lg-2 col-md-4 col-sm-6 footer-full">
          <div class="single-footer">
              <h3 class="footer-title">Наша продукция</h3>
              <div class="footer-content">
                  <ul class="footer-list">
                      <li><a href="#">Лаки</a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#">Краски</a></li>
                      <li><a href="#"></a></li>
                      <li><a href="#">Морилки</a></li>
                      <li><a href="#"></a></li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- Single Footer Start -->
      <!-- Single Footer Start -->

      

      <!-- Single Footer Start -->
  </div>
  <!-- Row End -->
</div>
<!-- Container End -->
</div>
<!-- Footer Top End -->
<!-- Footer Bottom Start -->

<div class="footer-bottom off-white-bg2">
<div class="container">
  <div class="footer-bottom-content">
      <p class="copy-right-text">Наша компания © <a  href="#">ООО "Лакокрас"</a></p>
  </div>
</div>
</div>

<!-- Footer Bottom End -->
</footer>
<!-- Footer End -->