{% extends "base.html" %}
{% block sub_content %}

<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="/">Главная</a></li>
                <li class="active"><a href="/about2">О нас</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->

<!-- About Main Area Start -->
<div class="about-main-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="about-img">
                    <img class="img" src="static/img/о_нас.jpg" alt="about-us" style="width: 680px; height: 450px;">
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="about-content">
                    <h3>Почему выбирают нас?</h3>
                    <p>Предоставить нашим клиентам только лучшие продукты, которые отличаются высоким качеством, долговечностью и разнообразием. Выбор правильного лакокрасочного материала может значительно повлиять на конечный результат.</p> <br>
                    
                    <p>- Широкий ассортимент: У нас вы найдете все необходимое — от акриловых красок до специализированных лаков для дерева.</p>
                    <p>- Качество и надежность: Мы работаем только с проверенными производителями, которые гарантируют высокие стандарты качества.</p>
                    <p>- Консультации и поддержка: Наша команда всегда готова помочь вам с выбором продукции, а также предоставить советы по применению и технике нанесения.</p>
                    <p>- Доступные цены: Мы стремимся сделать качественные лакокрасочные материалы доступными для каждого, поэтому предлагаем конкурентные цены и регулярные акции.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Main Area End -->

{% endblock %}