{% extends "base.html" %}
{% block sub_content %}

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area ptb-60 ptb-sm-30">
      <div class="container">
          <div class="breadcrumb">
              <ul>
                  <li><a href="/">Главная</a></li>
                  <li class="active"><a href="/products2">Товары</a></li>
              </ul>
          </div>
      </div>
      <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->

    <!-- Banner Start -->
    <div class="upper-banner banner pb-60">
      <div class="container">
        <div class="row">
            <!-- Single Banner Start -->
            <div class="col-sm-4">
                  <div class="single-banner zoom">
                    <a href="/lacquer2"><h4 class="card-title text-center" style="color: black">Лаки</h4>
                    <img src="static/img/лаки2.jpeg" alt="slider-banner" style="width: 370px; height: 205px;"></a>
                  </div>
              </div>
            <!-- Single Banner End -->
              <!-- Single Banner Start -->
            <div class="col-sm-4">
                  <div class="single-banner zoom">
                    <a href="/paints2"><h4 class="card-title text-center" style="color: black">Краски</h4>
                    <img src="static/img/краски2.jpg" alt="slider-banner" style="width: 370px; height: 205px;"></a>
                  </div>
              </div>
            <!-- Single Banner End -->
              <!-- Single Banner Start -->
            <div class="col-sm-4">
                  <div class="single-banner zoom">
                    <a href="/pestilence2"><h4 class="card-title text-center" style="color: black">Морилки</h4>
                    <img src="static/img/морилки3.jpg" alt="slider-banner" style="width: 370px; height: 205px;"></a>
                  </div>
              </div>
            <!-- Single Banner End -->
        </div>
        <!-- Row End -->
      </div>
      <!-- Container End -->
    </div>                                
    <!-- Banner End -->


{% endblock %}